<html>
<body>
{%if status %}
   You are logged in!! 
   <a href="/accounts/logout/">Logout</a>&nbsp&nbsp&nbsp 
   <a href="/wiki/create/">Create page</a>&nbsp&nbsp&nbsp 
{%else%}
   <a href="/accounts/login/">Login</a>&nbsp&nbsp&nbsp 
{%endif%}
<a href="/accounts/register/">Register</a>
<h1>Articles</h1>

<table  border="1">
<tr>
  <td>List of Articles</td>
  <td>Created by</td>
</tr>
{% for article in all_pages %}
<tr>
  <td><a href="/wiki/{{article.id}}/">{{ article.title }}</a></td>
  <td>{{article.user}}</td>
</tr>
{%endfor%}
</table>


</body>
</html>

 


