<html>
<head>
<title> {{page_title}}-Editing</title>
</head>
<body>
      <a href="/accounts/logout/">Logout</a>&nbsp &nbsp
      <a href="/wiki/">Home</a> &nbsp &nbsp <a href="/list/">Upload/Use Pictures</a>
      <h1>Editing {{page_title}}</h1>
      <form method="post" action="/wiki/{{page_id}}/save_edit/"> {% csrf_token %}
            <textarea name="content" rows="20" cols="60"> {{content}}</textarea>
           {%if owner == loggedin_user%}
            <input type="checkbox" name="check" value="True">Private page<br>
           {%endif%}
      <input type="submit" value="Save Page"/><br/>
      
      <a href="/wiki/{{page_id}}/">Cancel Edit</a>&nbsp &nbsp
      
 </body>
</html>
