<html>
 <head>
  <title>History of {{page_title}}</title>
 <head>
 <body>
   <h1>Page history of {{page_title}}</h1>
    <table border=1>
       <tr>
         <td>Edited by:</td>
         <td>Date and Time of change</td>
         <td>Contents of change</td>
         <td>Edit id:</td>
       </tr>
       {%for page in page_history%}
       <tr>
          <td>{{page.edited_by}}</td>
          <td>{{page.edited}}</td>
          <td><a href="/change/{{page.id}}">View</a></td>
          <td>{{page.id}}</td>
       </tr>
       {%endfor%}
    </table>
  </body>
</html>
   
